html {
    font-size: 18px;
}

body {
    margin: 10;
    display: flex;
    flex-direction: column;
}

#wa_button {
    border: solid black 3px;
    background-color: #25D366;
    cursor: pointer;
    font-family: "Kanit";
    font-size: 1.5rem; color: white;
    border-radius: 12px;
    padding: 20px 75px;
    box-shadow: 0px 8px #888888;
    margin-top: 0;
}

#menag_button {
    border: solid black 3px;
    background-color: #2A878F;
    cursor: pointer;
    font-family: "Kanit";
    font-size: 1.5rem; color: white;
    border-radius: 12px;
    padding: 20px 75px;
    box-shadow: 0px 8px #888888;
    margin-top: 0;
}

#link_wa {
    text-decoration: none;
    color: white;
}

#link_menag {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.header.txt {
    font-size: 2rem;
    text-align: center;
    max-width: 75vw;
    font-weight: bold;
}

.header.txt2 {
    font-size: 1.75rem;
    text-align: center;
    padding: 0 25%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.paket.txt1 {
    font-size: 2vw;
    text-align: center;
    padding: 10 25%;
    color: #ffffff;
    background-color: #E72929 ;
    border-radius: 12px;
    padding: 0 25px;
}

.paket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.paket.txt2 {
    font-size: 2vw;
    text-align: center;
    padding: 10 25%;
    color: #000000;
}

.paket.txt2.bold {
    font-weight: bold;
}

#pakets {
    border-radius: 12px;
    width: 40vw;
    margin: auto;
}

.include {
    text-align: center;
    font-size: 1.75vw;
}

ol.list-include {
    display: inline-block;
    text-align: left;
    font-size: 1.25rem;
}

p.biaya {
    background-color: #25D366;
    border-radius: 12px;
    font-weight: bold;
}

.cta_1 {
    text-align: center;
}

p.kuota {
    color: #E72929;
    font-size: 3vw;
    margin-bottom: 5px;
}

p.daftar {
    background-color: #FFF455;
    border-radius: 12px;
    font-size: 2vw;
    margin-top: 10px;
    font-weight: bold;
}

p.info {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 5px;
}

p.info.klik {
    margin-top: 5px;
    font-size: 1.75vw;
    margin-bottom: 2px;

}

@keyframes arrow {
    from {top: 0px;}
    to {top: 10px;}
}

#anim {
    position: relative;
    animation-name: arrow;
    animation-duration: 0.85s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-out;
}

.caution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
}

.highlight {
    font-weight: bold;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 12px;
    margin-top: 20px;
    padding: 10px 25px;
}

.highlight.warning {
    background-color: #E72929;
    color: white;
    margin-bottom: 20px;
}

.highlight.good {
    background-color: #25D366;
}

.darul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.darul.txt1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 5px 20vw;
}

ul.list-include {
    display: inline-block;
    text-align: left;
    font-size: 1.25rem;
    font-weight: bold;
}

.testimoni {
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimoni.txt1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 5px 20vw;
}

hr {
    width: 75%;
    border: 1px solid black;
}

.partner {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner.txt1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 5px 20vw;
}

.partner.images {
    display: flex;
    flex-direction:column;
}

.partner img {
    max-width: 10vw;
}

.kuota.cta2 {
    color: #1A4D2E;
}

.daftar.cta2 {
    background-color: #25D366;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: small;
}