@import url(https://fonts.googleapis.com/css?family=Kanit);

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header {
    overflow: hidden;
    display: flex; justify-content: space-between;
    background-color: #85b751;
    padding: 10px 10px;
    height: fit-content;
}

.header-left {
    float: left;
}

.header-center {
    float: center;
    font-family: "Kanit";
    font-size: larger; color: white;
    padding-top: 25px;
}

.header-right {
    float: right;
    padding-top: 20px;
}

#logo_header {
    width: 233.8px;
    height: 52.5px;
}

.wa_button {
    border: none;
    background-color: #1d1d1d;
    cursor: pointer;
    font-family: "Kanit";
    font-size: larger; color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    padding: 5px 10px;
}

.wa_button:hover {
    background-color: grey;
}

#link_wa {
    text-decoration: none;
    color: white;
}

.main {
    display: flex;
    align-content: flex-start;
    overflow: auto;
    flex-wrap: wrap;
    position: relative;
}

/* card paket image */
@keyframes poke {
    0% {transform: translateY(0);}
    100% {transform: translateY(-5px);}
}

.card {
    font-family: "Kanit";
    font-size: larger; color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 306px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 12px;
    border: 2px solid black;
    padding: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.card:hover {
    opacity: 0.8;
    animation-name: poke;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.card_top_info {
    display: flex;
    justify-content: space-between;
}

.top_info_green {
    background-color: rgb(33, 102, 62);
    border: 2px solid black;
    border-radius: 12px;
    margin-bottom: 4px; padding: 2px 10px;
    display: inline-flex; vertical-align: middle;
}

.top_info_yellow {
    background-color: rgb(138, 77, 9);
    border: 2px solid black;
    border-radius: 12px;
    margin-bottom: 4px; padding: 2px 10px;
    display: inline-flex; vertical-align: middle;
}

.top_info_red {
    background-color: rgb(184, 26, 26);
    border: 2px solid black;
    border-radius: 12px;
    margin-top: 4px; padding: 2px 10px;
    display: inline-flex; vertical-align: middle;
    width: 300px;
}

.img_card {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    border: 3px solid black;
}

/* modal background */
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* set to be always on top */
    padding-top: 100px;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto; /*enable autoscroll if image too big */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal_content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
    border-radius: 12px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
.modal_content, #caption {
    animation-name: zoom;
    animation-duration: 0.3s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* FOOTER */
  .footer {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    background-color: #85b751;
    color: white;
    font-family: "Kanit";
    font-size: larger; color: white;
  }

  a {
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 500px){
    .modal-content {
      width: 100%;
    }
  }

@media  screen and (max-width: 500px) {
    .header {
        float: none;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        text-align: left;
    }
    .header-left {
        float: none;
    }
    .header-center {
        float: none;
    }
    .header-right {
        float:none;
    }
    .main {
        float: none;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        text-align: left;
        overflow: visible;
    }
    .footer {
        display: block;
        text-align: left;
    }
}